In [1]:
import pandas as pd

In [2]:
df_public = pd.read_csv('../../../../data/raw/dataset-bids/public-relations department, bangkok-air-quality.csv', parse_dates=['date'])

In [3]:
df_public.head()

        date  pm25  pm10  o3  no2  so2  co
0 2024-10-01    31    18
1 2024-10-02    33    19
2 2024-10-03    40    14
3 2024-10-04    30    28
4 2024-10-05    52    29

In [4]:
df_public['location'] = 'public-relations department, bangkok'

In [5]:
df_rajabhat = pd.read_csv('../../../../data/raw/dataset-bids/bansomdejchaopraya-rajabhat university, bangkok-air-quality.csv', parse_dates=['date'])

In [6]:
df_rajabhat.head()

        date  pm25  pm10  o3  no2  so2  co
0 2024-10-01    54
1 2024-10-02    43
2 2024-10-03    51
3 2024-10-04    54
4 2024-10-05    78

In [7]:
df_rajabhat['location'] = 'bansomdejchaopraya-rajabhat university, bangkok'

In [8]:
df_power = pd.read_csv('../../../../data/raw/dataset-bids/south-bangkok power plant, samut prakan-air-quality.csv', parse_dates=['date'])

In [9]:
df_power.head()

        date  pm25  pm10  o3  no2  so2  co
0 2024-10-01    38    11
1 2024-10-02    28    13
2 2024-10-03    27    19
3 2024-10-04    46    32
4 2024-10-05    66    24

In [10]:
df_power['location'] = 'south-bangkok power plant, samut prakan'

In [11]:
df_highway = pd.read_csv('../../../../data/raw/dataset-bids/highway-district, samut sakhon-air-quality.csv', parse_dates=['date'])

In [12]:
df_highway['location'] = 'highway-district, samut sakhon'

In [13]:
df_bangkok = pd.read_csv('../../../../data/raw/ishika/bangkok-university-rangsit.csv', parse_dates=['date'])

In [14]:
df_bangkok['location'] = 'Bangkok University Rangsit Campus, Pathum Thani'

In [15]:
df_national =  pd.read_csv('../../../../data/raw/ishika/national-housing-authority.csv', parse_dates=['date'])

In [16]:
df_national['location'] = 'National Housing Authority Bangplee, Samut Prakan'

In [17]:
df_post_off = pd.read_csv('../../../../data/raw/ishika/national-housing-authority.csv', parse_dates=['date'])

In [18]:
df_post_off['location'] = 'Ratburana Post Office, Bangkok'

In [19]:
df_thonburi = pd.read_csv('../../../../data/raw/ishika/thonburi-power-sub-station.csv', parse_dates=['date'])

In [20]:
df_thonburi['location'] = 'Thonburi Power Sub-Station, Bangkok'

In [21]:
df_nonsi = pd.read_csv('../../../../data/raw/sachin/nonsi-witthaya school, bangkok-air-quality.csv', parse_dates=['date'])

In [22]:
df_nonsi['location'] = 'nonsi-witthaya school, bangkok'

In [23]:
df_prov = pd.read_csv('../../../../data/raw/sachin/provincial-administrative organization, samut sakhon-air-quality.csv', parse_dates=['date'])

In [24]:
df_prov['location'] = 'provincial-administrative organization, samut sakhon'

In [25]:
df_sukhothai = pd.read_csv('../../../../data/raw/sachin/sukhothai-thammathirat open university, nonthaburi-air-quality.csv', parse_dates=['date'])

In [26]:
df_sukhothai['location'] = 'sukhothai-thammathirat open university, nonthaburi'

In [27]:
df_palace = pd.read_csv('../../../../data/raw/sachin/the-bhubing palace doi buak ha-air-quality.csv', parse_dates=['date'])

In [28]:
df_palace['location'] = 'The Bhubing Palace Doi Buak Ha'

In [29]:
df_chulalongkorn = pd.read_csv('../../../../data/raw/aman/chulalongkorn-hospital, bangkok-air-quality.csv', parse_dates=['date'])

In [30]:
df_chulalongkorn['location'] = 'chulalongkorn-hospital, bangkok'

In [31]:
df_city_hall = pd.read_csv('../../../../data/raw/aman/city-hall, samut prakan-air-quality.csv', parse_dates=['date'])

In [32]:
df_city_hall['location'] = 'city-hall, samut prakan'

In [33]:
df_egat = pd.read_csv('../../../../data/raw/aman/egat,-nonthaburi-air-quality.csv', parse_dates=['date'])

In [34]:
df_egat['location'] = 'egat, nonthaburi'

In [35]:
df_prabadang = pd.read_csv('../../../../data/raw/aman/prabadang-rehabiltation center, samut prakan-air-quality.csv', parse_dates=['date'])

In [36]:
df_prabadang['location'] = 'prabadang-rehabiltation center, samut prakan'

In [37]:
# final df
df = pd.concat([df_public, df_rajabhat, df_power, df_highway, df_bangkok, df_national, df_post_off, df_thonburi, df_nonsi, df_prov, df_sukhothai, df_palace, df_chulalongkorn, df_city_hall, df_egat, df_prabadang], ignore_index=True)

In [38]:
df.head()

,date,pm25,pm10,o3,no2,so2,co,location
0,2024-10-01,31,18,,,,,"public-relations department, bangkok"
1,2024-10-02,33,19,,,,,"public-relations department, bangkok"
2,2024-10-03,40,14,,,,,"public-relations department, bangkok"
3,2024-10-04,30,28,,,,,"public-relations department, bangkok"
4,2024-10-05,52,29,,,,,"public-relations department, bangkok"

In [39]:
# export to csv
df.to_csv('../../../../data/processed/merged_data.csv', index=False)